@keyframes line--verticalSlide {
  0% {
    bottom: 80px;
    height: 100%;
  }

  50% {
    bottom: 0;
    height: 100%;
  }

  100% {
    bottom: 0;
    height: 0;
  }
}

@keyframes slideOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes translatePulse {
  0% {

    transform: translate(0, 0) scale(1);
  }
  10% {
    transform: translate(0, 0) scale(1.2);
  }
  20% {
    transform: translate(0, 0) scale(1.0);
  }
  30% {
    transform: translate(0, 0) scale(1.2);
  }
  40% {
    transform: translate(0, 0) scale(1.0);
  }
  60% {
    transform: translate(-154px, 84px) scale(1.0);
  }
  70% {
    transform: translate(-154px, 84px) scale(1.2);
  }
  80% {
    transform: translate(-154px, 84px) scale(1.0);
  }
  80% {
    transform: translate(-154px, 84px) scale(1.2);
  }
  100% {
    transform: translate(-154px, 84px) scale(1);
  }
}

@keyframes wordCarouselOpacity {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}