.loadingPage {
  background: $mainBg;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: calc(50% - 153px / 2);
    left: calc(50% - -261px / 2);
    background: black;
    border-radius: 50%;
    animation: translatePulse 3.4s ease-in-out;
    animation-fill-mode: both;

  }

  img {
    transform: scale(.5);
    opacity: 0;
    animation: slideOpacity 1.6s ease-in-out;
    animation-delay: 3s;
    animation-fill-mode: both;
    z-index: 2;
  }
}